body {
    background-color: aqua;
}
h1 {
    background-color: blueviolet;
}
h1 ~ p {
    background-color: deeppink;
}
h2 ~ p {
    background-color: greenyellow;
}
h2 {
    background-color: maroon;
}
ul {
    background-color: orangered;
}